footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #333;
    text-decoration: none;
}

#backgroundContainer {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://img.zcool.cn/community/0186cd5ac42c71a8012062e3f8d763.png?x-oss-process=image/auto-orient,1/resize,m_lfit,w_1280,limit_1/sharpen,100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
}

#foots {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}
